@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background: #ffffff;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.page {
  margin-bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
}

.page.fixed {
  margin-top: 200px;
}

.page__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1225px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 9px 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #51b37b;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 136.69%;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: #388057;
}

.btn:active {
  background: #285c3f;
}

.header-top {
  padding: 13px 0;
  border-bottom: 1px solid #e8eff5;
}

.navbar-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar-top__item {
  position: relative;
  margin-right: 38px;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #083674;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-top__item path {
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-top__item:last-child {
  margin-right: 0;
}

.navbar-top__item:hover {
  color: #51b37b;
}

.navbar-top__item:hover path {
  fill: #51b37b;
}

.navbar-top__item:hover > .dropdown {
  display: block;
}

.navbar-top__item:hover .navbar-top__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar-top__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown {
  min-width: 174px;
  width: 100%;
  display: none;
  position: absolute;
  padding-top: 13px;
}

.dropdown__block {
  padding: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.dropdown__item {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #083674;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 10px;
}

.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__item:hover {
  color: #51b37b;
}

.header-center {
  padding: 20px 0;
}

.header-center__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center__logo {
  max-width: 220px;
}

.header-center__phones {
  max-width: 288px;
}

.header-center__address {
  max-width: 305px;
}

.header-logo__icon {
  display: block;
  margin-bottom: 10px;
}

.header-logo__text {
  font-size: 12px;
  line-height: 14px;
}

.header-phones__item {
  margin-bottom: 12px;
}

.header-phones__item:last-child {
  margin-bottom: 0;
}

.header-phones__subtitle {
  margin-bottom: 5px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.header-phones__link {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phones__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-address__item {
  margin-bottom: 15px;
}

.header-address__subtitle {
  padding-left: 35px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

.header-address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.header-address__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}

.header-address__email {
  padding-left: 35px;
  color: #083674;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.header-bottom {
  background: #083674;
  color: #ffffff;
  padding: 33px 0;
}

.header-bottom__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__item {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-bottom__item:hover {
  color: #51b37b;
}

.header-burger {
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
  background: transparent;
  position: relative;
}

.header-burger:hover span {
  background: #51b37b;
}

.header-burger span {
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  max-width: 50px;
  height: 10px;
  background: #083674;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-burger span:first-child {
  top: 0;
}

.header-burger span:nth-child(2) {
  top: 50%;
  margin-top: -5px;
}

.header-burger span:last-child {
  bottom: 0;
}

.header-mobile {
  display: none;
}

@media (max-width: 1225px) {
  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-top {
    display: none;
  }
  .header-bottom {
    display: none;
  }
  .header-address {
    display: none;
  }
  .header-mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: rgba(8, 54, 116, 0.6);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 50;
  }
  .header-mobile__body {
    position: relative;
    width: 70%;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    min-height: 100vh;
    height: auto;
    padding: 70px 30px 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-mobile__body * {
    position: relative;
    z-index: 1;
  }
  .header-mobile__body::after {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header-mobile_open {
    visibility: visible;
    opacity: 1;
  }
  .header-mobile_open .header-mobile__body {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header-mobile__close {
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .header-mobile__close:hover span {
    background: #51b37b;
  }
  .header-mobile__close span {
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    max-width: 30px;
    height: 5px;
    background: #083674;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-mobile__close span:last-child {
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
            transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }
  .header-mobile__close span:first-child {
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
            transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
  .header-mobile__close span:nth-child(2) {
    width: 0;
  }
  .header-mobile__items {
    margin-bottom: 40px;
  }
  .header-mobile__items:last-child {
    margin-top: auto;
    margin-bottom: 0;
  }
  .header-mobile__item {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .header-mobile__item:last-child {
    margin-bottom: 0;
  }
  .header-mobile__item:active {
    color: #51b37b;
  }
  .header-mobile__subitem {
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 6px 0;
    text-transform: none;
    color: #083674;
  }
  .header-mobile__subitem:last-child {
    margin-bottom: 0;
  }
  .header-mobile__subitem:active {
    color: #51b37b;
  }
  .header-mobile .header-address {
    margin-top: 30px;
    display: block;
  }
  .header-mobile .header-phones {
    display: block;
  }
  .header-phones__link {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 767.98px) {
  .header-phones {
    display: none;
  }
  .header-mobile {
    background: transparent;
    z-index: 50;
  }
  .header-mobile__body {
    padding-top: 60px;
    width: calc(100% + 15px);
  }
  .header-mobile__body::after {
    width: calc(100% + 15px);
  }
  .header-mobile__items {
    margin-bottom: 20px;
  }
  .header-mobile__items:last-child {
    margin-top: auto;
    margin-bottom: 0;
  }
  .header-mobile__item {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .header-mobile__item:last-child {
    margin-bottom: 0;
  }
  .header-mobile__item:active {
    color: #51b37b;
  }
  .header-mobile__close {
    width: 20px;
    height: 20px;
  }
  .header-mobile__close span {
    max-width: 20px;
    height: 4px;
  }
  .header-center {
    padding: 10px 0;
  }
  .header-logo {
    max-width: 128px;
  }
  .header-logo__icon {
    max-width: 128px;
  }
  .header-logo__icon img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header-logo__text {
    font-size: 8px;
    line-height: 9px;
  }
  .header-burger {
    width: 20px;
    height: 18px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-burger:active span {
    background: #51b37b;
  }
  .header-burger span {
    -webkit-transition: .3s;
    transition: .3s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    max-width: 20px;
    height: 4px;
    background: #083674;
    border-radius: 10px;
    position: absolute;
    left: 50%;
  }
  .header-burger span:nth-child(2) {
    margin-top: -2px;
  }
}

.footer-top {
  background: #51b37b -webkit-gradient(linear, left top, right top, from(#51B37B), to(#083674));
  background: #51b37b linear-gradient(90deg, #51B37B 0%, #083674 100%);
  position: relative;
  color: #ffffff;
}

.footer-top::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/backgrounds/footer-placeholder.png") left bottom/contain no-repeat;
}

.footer-top * {
  position: relative;
  z-index: 1;
}

.footer-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 170px;
}

.footer-top__item {
  min-width: 150px;
  width: auto;
  margin-right: 100px;
}

.footer-top__item:last-child {
  margin-right: 0;
}

.footer-top__sutitle {
  font-weight: 900;
  font-size: 16px;
  line-height: 135.19%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-top__sutitle:hover {
  color: #000000;
}

.footer-top__list {
  margin-top: 25px;
}

.footer-top__link {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.19%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-top__link:last-child {
  margin-bottom: 20px;
}

.footer-top__link:hover {
  color: #000000;
}

.footer-top__group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-center {
  padding: 20px 0;
  background: #E8EFF5;
}

.footer-center__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-center__logo {
  max-width: 220px;
}

.footer-center__phones {
  max-width: 288px;
}

.footer-center__address {
  max-width: 305px;
}

.footer-logo__icon {
  display: block;
  margin-bottom: 10px;
}

.footer-logo__text {
  font-size: 12px;
  line-height: 14px;
}

.footer-phones__item {
  margin-bottom: 12px;
}

.footer-phones__item:last-child {
  margin-bottom: 0;
}

.footer-phones__subtitle {
  margin-bottom: 5px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.footer-phones__link {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-phones__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address__item {
  margin-bottom: 15px;
}

.footer-address__subtitle {
  padding-left: 35px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

.footer-address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.footer-address__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}

.footer-address__email {
  padding-left: 35px;
  color: #083674;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.footer-bottom {
  padding: 30px 0;
  background: #083674;
  color: #ffffff;
}

.footer-bottom__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__copy {
  font-weight: normal;
  font-size: 15px;
  line-height: 136.19%;
}

@media (max-width: 1225px) {
  .footer-top__body {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-top__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-top__group .footer-top__list {
    display: none;
  }
  .footer-top__group .footer-top__item {
    margin-bottom: 15px;
  }
  .footer-logo {
    max-width: 194px;
  }
  .footer-logo__icon {
    overflow: hidden;
  }
  .footer-logo__icon img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-phones__link {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;
  }
  .footer-address {
    max-width: 250px;
  }
  .footer-address__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 145.69%;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 767.98px) {
  .footer-center__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-center__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 20px;
  }
  .footer-center__phones {
    margin-bottom: 20px;
  }
  .footer-top__item {
    margin-right: 0px;
  }
  .footer-top__sutitle, .footer-top__link {
    font-size: 12px;
    line-height: 135.19%;
  }
}

.breadcrumb {
  margin-top: 20px;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb li {
  padding: 0 16px 0 10px;
  position: relative;
}

.breadcrumb li::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #C4C4C4;
}

.breadcrumb li:last-child {
  padding-right: 0;
}

.breadcrumb li:last-child::after {
  display: none;
}

.breadcrumb li > a {
  font-size: 12px;
  line-height: 19px;
  color: #083674;
}

.breadcrumb .active {
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
}

.breadcrumb .active a {
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
}

@media (max-width: 767.98px) {
  .breadcrumb li > a {
    font-size: 10px;
    line-height: 12px;
    color: #083674;
  }
  .breadcrumb .active {
    font-size: 10px;
    line-height: 12px;
    color: #C4C4C4;
  }
  .breadcrumb .active a {
    font-size: 10px;
    line-height: 12px;
    color: #C4C4C4;
  }
}

.home-slider {
  width: 100%;
  min-height: 458px;
  background: -webkit-gradient(linear, left top, right top, color-stop(49.78%, #083674), to(#51B37B));
  background: linear-gradient(90deg, #083674 49.78%, #51B37B 100%);
  position: relative;
  overflow-x: hidden;
}

.home-slider__cover {
  width: 50%;
  height: 100%;
  min-height: 458px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.home-slider__cover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  background: -webkit-gradient(linear, right top, left top, from(#0A3974), color-stop(18.09%, rgba(11, 59, 116, 0)));
  background: linear-gradient(270deg, #0A3974 0%, rgba(11, 59, 116, 0) 18.09%);
}

.home-slider__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-slider__content {
  margin-left: 50%;
  padding: 80px 30px 50px 100px;
  color: #ffffff;
}

.home-slider__title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 35px;
  line-height: 136.69%;
  letter-spacing: -0.045em;
}

.home-slider__descripton {
  max-width: 390px;
  font-size: 14px;
  line-height: 136.69%;
  letter-spacing: -0.03em;
}

.home-slider__btn {
  margin-top: 20px;
}

.home-slider__btn_arrow {
  background: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-slider__btn_arrow:hover path, .home-slider__btn_arrow:active path {
  fill: #ffffff;
}

.home-slider__btn_prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-slider__controls {
  max-width: 1440px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  z-index: 10;
}

.home-slider__pagination {
  position: absolute;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.home-slider__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #ffffff;
}

.home-slider__pagination .swiper-pagination-bullet-active {
  background: #51b37b;
}

.home-slider__pagination .swiper-pagination-bullet:hover {
  background: #388057;
}

.home-slider__pagination .swiper-pagination-bullet:active {
  background: #285c3f;
}

@media (max-width: 1225px) {
  .home-slider {
    min-height: 516px;
  }
  .home-slider__cover {
    width: 100%;
    height: 100%;
    min-height: 516px;
  }
  .home-slider__cover::after {
    display: none;
  }
  .home-slider__content {
    margin-top: 30px;
    margin-left: 20px;
    max-width: 475px;
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(8, 54, 116, 0.8);
  }
  .home-slider__controls {
    padding: 0 5px;
    z-index: 10;
  }
}

@media (max-width: 767.98px) {
  .home-slider {
    min-height: 373px;
    overflow-x: hidden;
  }
  .home-slider__cover {
    min-height: 373px;
  }
  .home-slider__content {
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
    padding: 20px 30px;
    margin-bottom: 66px;
  }
  .home-slider__controls {
    top: auto;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
    bottom: 11px;
    padding: 0 5px;
    z-index: 10;
  }
  .home-slider__pagination {
    z-index: 15;
    margin-bottom: 15px;
  }
  .home-slider__title {
    font-size: 20px;
    line-height: 136.69%;
  }
}

.home-services {
  padding: 40px 0;
}

.home-services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-services__item {
  width: 273px;
  min-height: 228px;
  overflow: hidden;
  border: 4px solid #e8eff5;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-services__item:last-child {
  margin-right: 0px;
}

.home-services__item:hover {
  border-color: #083674;
}

.home-services__item:hover .home-services__btn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home-services__item:hover .home-services__title::after {
  background: #51b37b;
}

.home-services__image {
  margin-bottom: 10px;
  overflow: hidden;
}

.home-services__title {
  padding-bottom: 11px;
  position: relative;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
}

.home-services__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 42px;
  height: 4px;
  border-radius: 10px;
  background: #083674;
}

.home-services__btn {
  margin-top: 30px;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1225px) {
  .home-services__item {
    width: 230px;
    margin-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .home-services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-services__item {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.home-words {
  background: #e8eff5;
  padding-bottom: 0;
}

.home-words__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-words__content {
  margin-right: 60px;
  padding: 20px 0;
}

.home-words__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.home-words__text p {
  padding-bottom: 5px;
}

.home-words__text p:last-child {
  padding-bottom: 0;
}

.home-words__autors {
  max-width: 330px;
  text-align: right;
  margin-left: auto;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 138.69%;
  color: #083674;
}

.home-words__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 362px;
  height: 362px;
  overflow: hidden;
  margin-top: -30px;
}

.home-words__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1225px) {
  .home-words__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home-words__content {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .home-words__text {
    font-size: 13px;
    line-height: 133.19%;
  }
  .home-words__autors {
    font-size: 13px;
    line-height: 133.19%;
  }
  .home-words__photo {
    width: 142px;
    height: 142px;
    margin-top: -50px;
  }
}

.home-news {
  padding: 40px 0px;
}

.home-news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-news__all {
  max-width: 180px;
  margin-top: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-news__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 136.19%;
  text-align: center;
}

.home-news__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-news__item {
  width: 385px;
  height: 403px;
  overflow: hidden;
  border-radius: 0px 0px 15px 15px;
  background: #e8eff5;
}

.home-news__cover {
  width: 100%;
  height: 184px;
}

.home-news__cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.home-news__content {
  padding: 20px;
}

.home-news__name {
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #083674;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-news__name:hover {
  color: #03152c;
}

.home-news__discription {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-news__footer {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-news__date {
  font-weight: bold;
  font-size: 15px;
  line-height: 136.19%;
}

.home-news__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  background: #51b37b;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-news__link a span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 100px;
  margin-right: 3px;
}

.home-news__link a span:last-child {
  margin-right: 0;
}

.home-news__link a:hover {
  background: #083674;
}

@media (max-width: 1225px) {
  .home-news__item {
    width: 343px;
    height: 361px;
  }
  .home-news__item:last-child {
    display: none;
  }
  .home-news__cover {
    height: 164px;
  }
  .home-news__content {
    padding: 15px;
  }
  .home-news__name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .home-news__discription {
    font-size: 14px;
    line-height: 16px;
    -webkit-line-clamp: 5;
  }
  .home-news__footer {
    padding-top: 15px;
  }
}

@media (max-width: 767.98px) {
  .home-news__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-news__item {
    max-width: 343px;
    width: auto;
    height: 361px;
  }
  .home-news__item:nth-child(2) {
    display: none;
  }
}

.home-about {
  padding: 40px 0;
  background: #e8eff5;
}

.home-about__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  line-height: 136.19%;
}

.home-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-about__content {
  margin-right: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.home-about__content p {
  padding-bottom: 10px;
}

.home-about__content p:last-child {
  padding-bottom: 0;
}

.home-about__btn {
  margin-top: 30px;
}

.home-about__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 538px;
  height: 517px;
  overflow: hidden;
}

.home-about__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1225px) {
  .home-about__images {
    display: none;
  }
  .home-about__content {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .home-about__content {
    font-weight: normal;
    font-size: 12px;
    line-height: 135.19%;
  }
}

.category {
  padding: 40px 0 50px 0;
}

.category__head {
  margin-bottom: 30px;
}

.category__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 136.19%;
}

.category__discription {
  max-width: 750px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}

.category__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__product {
  margin-right: 30px;
  margin-bottom: 30px;
}

.category__product:nth-child(3n) {
  margin-right: 0;
}

.category-product {
  width: 385px;
  min-height: 466px;
  border-radius: 10px;
  border: 4px solid #e8eff5;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category-product__cover {
  width: 100%;
  height: 234px;
  overflow: hidden;
}

.category-product__cover img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-product__content {
  padding: 20px 20px 30px;
}

.category-product__name {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.category-product__excerpt {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 130.19%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.category-product__btn {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
}

.category-product:hover {
  border-color: #083674;
}

@media (max-width: 1225px) {
  .category__product {
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .category__product:nth-child(3n) {
    margin-right: 15px;
  }
  .category__product:nth-child(2n) {
    margin-right: 0;
  }
  .category-product {
    width: 345px;
  }
}

@media (max-width: 767.98px) {
  .category__product {
    margin-right: 0px;
  }
  .category__product:nth-child(3n) {
    margin-right: 0px;
  }
  .category__product:nth-child(2n) {
    margin-right: 0;
  }
  .category-product {
    width: auto;
    min-height: 371px;
  }
  .category-product__cover {
    width: 100%;
    min-height: 167px;
    height: auto;
  }
  .category-product__content {
    padding: 13px 13px 20px;
  }
  .category-product__name {
    font-size: 14px;
    line-height: 130.19%;
  }
  .category-product__excerpt {
    font-size: 14px;
    line-height: 130.19%;
  }
  .category-product__btn {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
}

.product {
  padding-top: 30px;
  padding-bottom: 90px;
}

.product__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 136.19%;
}

.product__date {
  margin-top: 13px;
  font-weight: bold;
  font-size: 15px;
  line-height: 136.19%;
  color: #989898;
}

.product__content {
  margin-top: 30px;
  overflow-x: hidden;
}

.product__content img {
  margin: 0 20px 30px 20px;
  border-radius: 10px;
}

.product__content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
}

.product__content h2, .product__content h3, .product__content h4, .product__content h5, .product__content h6, .product__content h1 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.product__content ul {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.product__content li {
  list-style-type: disc;
  margin-bottom: 15px;
}

.product__content table {
  width: 950px;
  margin: 50px auto;
  border: 4px double black;
  border-collapse: collapse;
}

.product__content th {
  text-align: left;
  background: #ccc;
  padding: 5px;
  border: 1px solid black;
}

.product__content td {
  padding: 5px;
  border: 1px solid black;
}

@media (max-width: 1225px) {
  .product p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
  }
  .product h2, .product h3, .product h4, .product h5, .product h6, .product h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 767.98px) {
  .product img {
    margin: 0 auto 20px;
    border-radius: 10px;
    max-width: 100%;
  }
  .product ul {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    padding-left: 20px;
  }
  .product li {
    font-size: 14px;
    line-height: 18px;
  }
}

.news {
  padding: 30px 0 90px;
}

.news__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  line-height: 136.19%;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .home-news__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.news .home-news__item:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1225px) {
  .news .home-news__item {
    width: 343px;
    height: 361px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .news .home-news__item:nth-child(3n) {
    margin-right: 20px;
  }
  .news .home-news__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .news .home-news__item {
    margin: 0 auto;
    max-width: 343px;
    width: auto;
    height: 361px;
    margin-bottom: 10px;
  }
  .news .home-news__item:nth-child(3n) {
    margin: 0 auto;
  }
  .news .home-news__item:nth-child(2n) {
    margin: 0 auto;
  }
}
