//#### Цвета сайта ########################
$primaty: #083674;
$primary-linar: linear-gradient(left,#51b37b 0,#0f4a86 100%);
$secondary-linar: linear-gradient(to left,#51b37b 0,#0f4a86 100%);
$secondary: #51b37b;
$black: #000000;
$white: #ffffff;
$white-2: #e8eff5;

//#### Мексины шрифтов ####################
//==== Heading ===========

//==== Body ============

//==== Btn ===========

